{
  "semi": true, // Объявления должны заканчиваться на semicolon (точка с запятой ;)
  "trailingComma": "all",
  "singleQuote": true, // Строки должны использовать по умолчанию одинарные кавычки
  "printWidth": 100, // Строки должны быть включены по умолчанию в одинарные кавычки
  "tabWidth": 2, // Вкладки по умолчанию будут иметь интервал размером 2
  "bracketSpacing": true // Значения внутри фигурных скобок () будут разнесены
}
